:plain
  ---
  layout: default
  style: index
  title: index page
  ---
/ index
%header
  %h3 Hi!
  %hgroup
    %h1 Welcome
    %figure
      %img{src: "/assets/i/me.jpg"}
      %figcaption A smug looking...
    %h2 I love minimal, functional design and development techniques, typography and all things web.

%section#bio
  %p blablabla, oooo, blablabla...

%section#articles
  %header
    %h1
      %span An archive of articles
  {% include archives.html %}

%section#meta
  %header
    %h1
      %span Meta
  %section#contact
    %h1 Old school
    %p
      some common contact tools
  %section#external
    %h1 MRPG
    %p
      online game

%section#feature
  %header
    %h1
      .dot
        %span Feature
  %section#upcoming
    %h1 Upcoming Feature
    %article
      %h1 Nothing scheduled
      %p Speaking hiatus
  %section#past
    %h1 Past Events
    {% for post in site.categories.feature %}
    %article
      %a{href: "{{ post.url }}", rel: "external"}
        %h1 {{ post.title }}
        %h2 {{ post.excerpt }}
    {% endfor %}